<section class="wrapper bg-gray">
    <div class="container pt-10 pt-md-14 text-center">
        <div class="row">
            <div class="col-xl-6 mx-auto">
                <h1 class="display-1 mb-4">Hiya! This is VerCert </h1>
                <p class="lead fs-lg mb-0">A company that provides quick certificate verification.</p>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <figure class="position-absoute" style="bottom: 0; left: 0; z-index: 2;"><img src="~/assets/img/photos/bg12.jpg" alt="" /></figure>
</section>
<!-- /section -->
<section class="wrapper bg-light angled upper-end lower-end">
    <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 mb-md-17 align-items-center">
            <div class="col-lg-6 position-relative order-lg-2">
                <div class="shape bg-dot primary rellax w-16 h-20" data-rellax-speed="1" style="top: 3rem; left: 5.5rem"></div>
                <div class="overlap-grid overlap-grid-2">
                    <div class="item">
                        <figure class="rounded shadow"><img src="~/assets/img/photos/about2.jpg" srcset="~/assets/img/photos/about2@2x.jpg 2x" alt=""></figure>
                    </div>
                    <div class="item">
                        <figure class="rounded shadow"><img src="~/assets/img/photos/about3.jpg" srcset="~/assets/img/photos/about3@2x.jpg 2x" alt=""></figure>
                    </div>
                </div>
            </div>
            <!--/column -->
            <div class="col-lg-6">
                <img src="~/assets/img/icons/lineal/megaphone.svg" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
                <h2 class="display-4 mb-3">Who Are We?</h2>
                <p class="lead fs-lg">We provide quick certificate verifcation with secured integration of the university student record system.</p>
                <p class="mb-6">With our system, organizations and individuals can instantly verify the authenticity of certificates issued by universities.</p>
                <div class="row gy-3 gx-xl-8">
                    <div class="col-xl-6">
                        <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                            <li><span><i class="uil uil-check"></i></span><span>It is fast.</span></li>
                            <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Convenient and reliable.</span></li>
                        </ul>
                    </div>
                    <!--/column -->
                    <div class="col-xl-6">
                        <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                            <li><span><i class="uil uil-check"></i></span><span>Safe and easy navigation of the system.</span></li>
                            <li class="mt-3"><span><i class="uil uil-check"></i></span><span>On the spot result.</span></li>
                        </ul>
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <!--/.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->
