@*@{
    ViewBag.Title = "Home Page";
}*@


<section class="wrapper image-wrapper bg-cover bg-image bg-xs-none bg-gray" data-image-src="./assets/img/photos/bg37.jpg">
    <div class="container pt-17 pb-15 py-sm-17 py-xxl-20">
        <div class="row">
            <div class="col-sm-6 col-xxl-5 text-center text-sm-start" data-cues="slideInDown" data-group="page-title" data-interval="-200" data-delay="500">
                <h2 class="display-1 fs-56 mb-4 mt-0 mt-lg-5 ls-xs pe-xl-5 pe-xxl-0">Our solution makes verification <span class="underline-3 style-3 yellow">easier and faster</span></h2>
                <p class="lead fs-23 lh-sm mb-7 pe-lg-5 pe-xl-5 pe-xxl-0">Our online Certificate verification services can provide full review of your employee irrespective of thier Institutions</p>
                <div><a href="/Account/Register" class="btn btn-lg btn-primary rounded">Start Verification</a></div>
            </div>
            <!--/column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->



<section class="wrapper bg-light">
    <div class="container py-15 py-md-17">
        <div class="row text-center">
            <div class="col-md-10 col-lg-9 col-xxl-8 mx-auto">
                <h2 class="fs-15 text-uppercase text-muted mb-3">What We Do?</h2>
                <h3 class="display-3 ls-sm mb-9 px-xl-11">We provide an enhanced security model with seamless integration with university and student record system.</h3>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="row gx-lg-8 gx-xl-12 gy-8">
            <div class="col-md-6 col-lg-4">
                <div class="d-flex flex-row">
                    <div>
                        <img src="~/assets/img/icons/lineal/telephone-3.svg" class="svg-inject icon-svg icon-svg-md text-blue me-5 mt-1" alt="" />
                    </div>
                    <div>
                        <h4 class="fs-20 ls-sm">24/7 Support</h4>
                        <p class="mb-0">Our support team are available to answer your queries at anytime.</p>
                    </div>
                </div>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-4">
                <div class="d-flex flex-row">
                    <div>
                        <img src="~/assets/img/icons/lineal/shield.svg" class="svg-inject icon-svg icon-svg-md text-yellow me-5 mt-1" alt="" />
                    </div>
                    <div>
                        <h4 class="fs-20 ls-sm">Quick Verification</h4>
                        <p class="mb-0">Hassle-free verification of certificate.</p>
                    </div>
                </div>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-4">
                <div class="d-flex flex-row">
                    <div>
                        <img src="~/assets/img/icons/lineal/cloud-computing-2.svg" class="svg-inject icon-svg icon-svg-md text-orange me-5" alt="" />
                    </div>
                    <div>
                        <h4 class="fs-20 ls-sm">Daily Updates</h4>
                        <p class="mb-0">Duis mollis gravida commodo id luctus erat porttitor ligula, eget lacinia odio sem aget elit nullam quis risus eget.</p>
                    </div>
                </div>
            </div>
            <!--/column -->
         
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->


<section class="wrapper bg-gray position-relative min-vh-60 d-lg-flex align-items-center">
    <div class="col-lg-6 position-lg-absolute top-0 start-0 image-wrapper bg-image bg-cover h-100" data-image-src="./assets/img/photos/bg38.jpg">
        <div class="divider text-gray divider-v-end d-none d-lg-block">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 1200">
                <g />
                <g>
                    <g>
                        <polygon fill="currentColor" points="48 0 0 0 48 1200 54 1200 54 0 48 0" />
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <!--/column -->
    <div class="container">
        <div class="row gx-0">
            <div class="col-lg-6 ms-auto">
                <div class="pt-13 pb-15 pb-md-17 py-lg-16 ps-lg-15 pe-xxl-16">
                    <h2 class="fs-15 text-uppercase text-muted mb-3">How It Works?</h2>
                    <h3 class="display-3 ls-sm mb-7">Here are the 3 working steps on success.</h3>
                    <div class="d-flex flex-row mb-5">
                        <div>
                            <img src="~/assets/img/icons/lineal/light-bulb.svg" class="svg-inject icon-svg icon-svg-md text-blue me-5 mt-1" alt="" />
                        </div>
                        <div>
                            <h4 class="fs-20 ls-sm">Upload Individual Data</h4>
                            @*<p class="mb-0">Nulla vitae elit libero pharetra augue dapibus. Praesent commodo cursus.</p>*@
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-5">
                        <div>
                            <img src="~/assets/img/icons/lineal/pie-chart-2.svg" class="svg-inject icon-svg icon-svg-md text-green me-5 mt-1" alt="" />
                        </div>
                        <div>
                            <h4 class="fs-20 ls-sm">Analize Data</h4>
                            @*<p class="mb-0">Vivamus sagittis lacus vel augue laoreet. Etiam porta sem malesuada magna.</p>*@
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div>
                            <img src="~/assets/img/icons/lineal/design.svg" class="svg-inject icon-svg icon-svg-md text-yellow me-5 mt-1" alt="" />
                        </div>
                        <div>
                            <h4 class="fs-20 ls-sm">Show Result</h4>
                           @* <p class="mb-0">Cras mattis consectetur purus sit amet. Aenean lacinia bibendum nulla sed.</p>*@
                        </div>
                    </div>
                </div>
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->

